<section class="admin-dashboard">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div clas="list-group">
    <a href="/" class="list-group-item">
      <span class="badge"><%= @product_count %></span>
      Total Product Count
    </a>
    <a href="/" class="list-group-item">
      <span class="badge"><%= @category_count %></span>
      Total Category Count
    </a>
  </div>

</section>